section.hero.medium
  .container
    .hero-body.left
      h1 Das papierlose Büro
      h2 Eine Alternative zu tätowierten Bäumen!
    .hero-icon.center
      //- svg: use(xlink:href='/assets/icons/sprites.svg#day') -//
