include /atoms/title
include /atoms/subtitle
include /atoms/description

mixin hero(size = 'medium', align = 'center')
  section(class='hero ' + size + ' ' + align)
    .container
      if block
        block
      else
        .contents
          +title('Title')
          +subtitle('Subtitle')
