include /atoms/tagline
include /atoms/title
include /atoms/subtitle
include /atoms/description
include /atoms/button


mixin contents(title, subtitle, description, tagline, cta)
  .contents
    if tagline
      +tagline(tagline)
    if title
      +title(title)
    if subtitle
      +subtitle(subtitle)
    if description
      +description(description)
    if cta
      +button(cta.name, cta.to, true)
