include /atoms/title
include /atoms/subtitle
include /atoms/description
include /atoms/button


mixin contents(title = 'Title', subtitle = 'Subtitle', description = 'Description', cta = { name: 'Buy now!', to: '/' } })
  +title(title)
  +subtitle(subtitle)
  +description(description)
  +button(cta.title, cta.to, true)