include /atoms/nav-item
include /atoms/icon

mixin nav(data)
  +icon('sprites.svg#knowledge', 'Wissen', 'knowledge-icon', '/wissen/')
  +icon('sprites.svg#hardware', 'Hardware', 'hardware-icon', '/hardware/')
  +icon('sprites.svg#software', 'Software', 'software-icon', '/software/')
  +icon('sprites.svg#services', 'Services', 'services-icon', '/services/')
