mixin toc()
  h5 Inhalt
  ol
    li: a(href="/wissen/wozu-ein-papierloses-buero/#erster") Erster Eintrag
    li: a(href="/wissen/wozu-ein-papierloses-buero/#zweiter") Zweiter Eintrag
      ol
        li: a(href="/wissen/wozu-ein-papierloses-buero/#erster-unter") Erster Untereintrag
        li: a(href="/wissen/wozu-ein-papierloses-buero/#zweiter-unter") Zweiter Untereintrag mit einer gaaaaanz langen Überschrift
    li: a(href="/wissen/wozu-ein-papierloses-buero/#dritter") Dritter Eintrag
    li: a(href="/wissen/wozu-ein-papierloses-buero/#vierter") Vierter Eintrag
      ol
        li: a(href="/wissen/wozu-ein-papierloses-buero/#erster-unter-vier") Erster Untereintrag
    li: a(href="/wissen/wozu-ein-papierloses-buero/#fuenfter") Fünfter Eintrag
    