mixin hero(title, description, icon='sprites.svg#day')
  section.hero.medium
    .container
      .hero-body.left
        h1= title
        h2= description
      .hero-icon.center
        //- svg: use(xlink:href='/assets/icons/' + icon)
