extends /base

include /elements/hero
include /elements/button
include /elements/picture

block hero
  +hero('Das papierlose Büro', 'Raus mit den tätowierten Bäumen!')

block content
  section.section.grid.with-spacing
    .container
      .item.center.narrow
        p.tagline Schneller Tipp
        h3 Lerne den Umgang mit digitalen Dokumenten kennen!
        p Wenn das papierlose Büro eingerichtet ist, aber dennoch viel Papier durch das Büro wandert, solltest Du und Deine Mitarbeiter lernen, mit dem neuen Medium umzugehen. Viele Einsteiger machen den Fehler, trotzdem noch jede E-Mail auszudrucken oder mit Geschäftspartnern nicht die digitale Version des Dokuments auszutauschen.
        +button('Mehr erfahren', '/')

  section.section.contrast.center
    .container
      h4 Hast Du eine Frage?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, repudiandae quibusdam, ducimus dicta possimus veniam dignissimos debitis esse fugiat itaque eligendi saepe! Officiis explicabo voluptatibus illo, ipsum commodi fugiat doloremque.

  section.section.grid.with-spacing
    .container
      .item.image
        +picture('knowledge', 'Wissen', 'Eliabe Costa', 'https://unsplash.com/@eliabevces')
      .item
        h4 Wissensdatenbank
        p Damit Du Dir ein papierloses Büro aufbauen kannst, benötigst Du einige praktische und rechtliche Grundlagen. Ziel ist es, Dich an Deinem Kenntnisstand abzuholen und Dir einfache bis individuelle Lösungen zu bieten, damit Du künfig privat oder geschäftlich weniger Papier verwenden musst.
        +button('Jetzt informieren', 'wissen')

  section.section.grid.with-spacing
    .container
      .item.right
        h4 Hardware
        p In dieser Rubrik geht es um die Wahl des richtigen Dokumentenscanners, Druckers sowie einer Speicherlösung, um die Dokumente in Deinem papierlosen Büro langfristig sicher zu archivieren. Wir empfehlen Dir verschiedene Produkte nach Budget und Know How.
        +button('Jetzt ansehen', 'hardware')
      .item.image
        +picture('harddrive', 'Hardware', 'Patrick Lindenberg', 'https://unsplash.com/@heapdump')

  section.section.grid.with-spacing
    .container
      .item.image
        +picture('discs', 'Software', 'Brett Jordan', 'https://unsplash.com/@brett_jordan')
      .item
        h4 Software
        p Damit Du die gescannten Dokumente richtig einordnen kannst, solltest Du Dir eine Dokumentenverwaltungs-Software (DMS) zulegen. Alternativ kannst Du Dir mit entsprechender Erfahrung auch viele Prozesse mithilfe von Open-Source-Programmen selbst zusammen stellen.
        +button('Jetzt ausprobieren', 'software')

  section.section.grid.with-spacing
    .container
      .item.right
        h4 Services
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci accusantium facere, quibusdam sequi ullam quaerat modi quod molestiae, alias amet ratione ea delectus repellendus cumque a vitae illo non rem.
        +button('Jetzt testen', 'services')
      .item.image
        +picture('service', 'Services', 'Lefteris Kallergis', 'https://unsplash.com/@lefterisk')
