extends /base

include /organisms/hero
include /molecules/contents

block hero
  +hero('golden-bottom')
    +contents('Kontakt', 'So erreichst Du uns!')

block content
  section.section.grid.with-spacing
    .container
      .item.center.narrow
        p.tagline Aufruf
        h3 Hast Du Fragen an uns?
        p So manch eine Frage zum digitalen Büro bleibt sicher auch nach dem Schmökern auf unserer Webseite unbeantwortet. Solltest Du also ein spezielles Anliegen zum Thema haben, kannst Du uns gerne kontaktieren. Wir antworten dann entweder direkt oder veröffentlichen hierzu einen Artikel. Bitte beachte, dass wir keine rechtlichen Einzelfälle bearbeiten können!
