.footer
  background-color: #1c2937
  margin-top: 3rem
  padding: 3rem 2rem 6rem
  text-align: center

  p
    color: #8899a5
    font-size: .85rem

  a
    color: #ffffff

.night
  .footer
    background-color: #15202a

    a
      color: #ffffff
