extends /base

include /elements/hero
include /elements/card

block hero
  +hero('Wissen', 'Anleitungen zum digitalen Büro')

block content
  section.section.grid.with-spacing.cards
    .container
      +card({
        title: 'Wozu überhaupt ein papierloses Büro?',
        excerpt: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti aperiam cupiditate natus distinctio est assumenda, veritatis aut modi veniam, consequuntur mollitia corporis id dicta temporibus earum inventore rem aspernatur.',
        to: '/wissen/wozu-ein-papierloses-buero/',
        image: {
          slug: 'discs',
          alt: 'Software',
          author: 'Brett Jordan',
          url: 'https://unsplash.com/@brett_jordan'
        }
      })
      +card({
        title: 'Welche Vorteile hat das papierlose Büro?',
        excerpt: 'In diesem Artikel beschäftige ich mich mit den Vorteilen, die ein papierloses Büro mit sich bringen kann.',
        to: '/wissen',
        image: {
          slug: 'knowledge',
          alt: 'Wissen',
          author: 'Eliabe Costa',
          url: 'https://unsplash.com/@eliabevces'
        }
      })
      +card({
        title: 'Hat das papierlose Büro auch Nachteile?',
        excerpt: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti aperiam cupiditate natus distinctio est assumenda, veritatis aut modi veniam, consequuntur mollitia corporis id dicta temporibus earum inventore rem aspernatur.',
        to: '/wissen',
        image: {
          slug: 'harddrive',
          alt: 'Hardware',
          author: 'Patrick Lindenberg',
          url: 'https://unsplash.com/@heapdump'
        }
      })
      +card({
        title: 'Aufbewahrungsfristen: Welche Dokumente Du nicht wegwerfen darfst',
        excerpt: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti aperiam cupiditate natus distinctio est assumenda, veritatis aut modi veniam, consequuntur mollitia corporis id dicta temporibus earum inventore rem aspernatur.',
        to: '/wissen',
        image: {
          slug: 'service',
          alt: 'Services',
          author: 'Lefteris Kallergis',
          url: 'https://unsplash.com/@lefterisk'
        }
      })
      +card({
        title: 'Wie funktioniert ersetzendes Scannen?',
        excerpt: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti aperiam cupiditate natus distinctio est assumenda, veritatis aut modi veniam, consequuntur mollitia corporis id dicta temporibus earum inventore rem aspernatur.',
        to: '/wissen',
        image: {
          slug: 'discs',
          alt: 'Software',
          author: 'Brett Jordan',
          url: 'https://unsplash.com/@brett_jordan'
        }
      })

  section.section.grid.with-spacing
    .container
      .item.center.narrow
        p.tagline Schneller Tipp
        h3 Wozu überhaupt ein papierloses Büro?
        p Das papierlose Büro hat viele Vorteile. Zu allererst trägst Du einen Beitrag zur Umwelt bei, indem Du jede Menge Papier sparst. Du wirst aber auch Dein Unternehmen voran bringen, schnellere Workflows entwickeln und Prozesse optimieren. Auch im privaten Umfeld kann es sehr erleichternd sein, weniger Zeit mit dem Sortieren Deiner Unterlagen zu verbringen.
        +button('Mehr erfahren', '/')
