include /organisms/navbar
include /organisms/hero
include /organisms/footer

doctype html
html(lang='de')
  head
    base(href=site.base)
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    block title
      title= site.title
    link(rel='stylesheet', href='/assets/css/main.css')
    script(src='/assets/js/jquery-3.4.0.min.js')
    script(src='/assets/js/main.js')
  body
    block header
      +navbar()
    main.site
      block hero
        +hero(site.title, site.description)
        
      block content
          h1 Title

      block footer
        +footer()
